.addPlaylistModal{
    width: 30%;
    max-height: 30%;
    overflow-y: scroll;
    display: block;
    position: absolute;
    top: 10%;
    left: 37%;
    background-color: white;
    z-index: 99992;
    color: black;
    .header{
        display: flex;
        font-size: 2rem;
        padding: 2%;
        cursor: pointer;
        justify-content: space-around;
        align-items: center;
        svg{
            height: 2rem;
        }

    }
    .headerselected{
        color: orange;
        border-bottom: 2px solid orange;
        padding-bottom: 2%;

    }
    .inputtext{
       display: flex;
       justify-content: flex-end;
       input{
        width: 90%;
        margin: 0% 6%;
        
       }
       button
       {
        margin: 1rem;
       }
    }
    .tracks {
        .track {
                padding: 1%;
        
               }
        
        .songtitle {
                       display: flex;
                        flex-direction: row;
                        width: 80%;
                        margin-left: 10%;
                        justify-content: space-between;
                        align-items: center;
        
                        svg {
                            height: 3rem;
                        }
                        img{
                            height: 3rem;
                        }
        
                        .title {
                            display: inline-block;

                        }
                        .button{
                            cursor: pointer;
                            padding: 1px;
                            border: 1px solid orange;
                            width: 130%;

                        }
                    }
     
        
                    .list {
                        display: flex;
                        width: 100%;
                    }
                
        
                }
                .playlisttitle{
                    padding-left: 1rem;
                }
}