<div class="addPlaylistModal">
<div class="header">
    <p [ngClass]="{headerselected: addPlaylist == true}" (click)="addplay()">Add to Playlist</p>
    <p [ngClass]="{headerselected: addPlaylist != true}" (click)="addplay()">Create a Playlist</p>
    <p (click)="close()"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5"></circle> <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path> </g></svg></p>
</div>
<div *ngIf="addPlaylist">
    <div class="tracks">
    <div class="track" *ngFor="let item of lists; index as i">
        <div class="songtitle">
            <div class="list">
                <div class="title">
                <img [src]="item['imageUrl']">
                </div>
                <div class="title">
                    <p>{{item['playlist']['title']}}</p>
                </div>
            </div>

            <div>
                <p *ngIf="item['added'] == false" class="button" (click)="addtoPlaylist(i)">Add to Playlist</p> 
                <p *ngIf="item['added'] == true" class="button" (click)="removeFromPlaylist(i)">Added</p>
                <div class="card-text">
                
            </div>
        </div>
    </div>
    </div>
</div>
</div>

<div *ngIf="!addPlaylist">
<form [formGroup]="playlistform" (ngSubmit)="onsubmit()">
    <p class="playlisttitle">Playlist title *</p>
    <div class="inputtext">
        <input type="text" id="playlistname" name="playlistname" formControlName="playlistname">
    </div>
    <div class="inputtext">
        <button type="submit" [disabled]="!playlistform.valid">Add Playlist</button>
    </div>
</form>
<div class="tracks">
    <div class="track" *ngFor="let item of selectedTrack">
        <div class="songtitle">
            <div class="list">
                <div class="title">
                <img [src]="item['artwork_url']">
                </div>
                <div class="title">
                    <p>{{item['title']}}</p>
                    <p>{{item['label_name']}}</p>
                </div>
            </div>

            <div>
            <div class="card-text">
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
